.about {
  width: 100%;
  height: 100%;
}

.about-inner {
  display: flex;
  margin-top: 60px;
}

.about-list-left {
  font-size: 18px;
  background: linear-gradient(#ddd, #eee, #fff);
  width: 45%;
  margin-right: 40px;
  margin-left: 40px;
  box-shadow: 3px 3px 6px #ccc;
}

.about-list-left h2 {
  font-size: 23px;
  border-left: solid 5px #c1292e;
  padding-left: 20px;
  margin: 10px 0 10px 20px;
}

.about-list-left p {
  padding-left: 30px;
}

.about-list-right {
  font-size: 18px;
  background: linear-gradient(#ddd, #eee, #fff);
  width: 45%;
  margin-right: 40px;
  margin-left: 40px;
  box-shadow: 3px 3px 6px #ccc;
}

.about-list-right h2 {
  font-size: 23px;
  border-left: solid 5px #c1292e;
  padding-left: 20px;
  margin: 10px 0 10px 20px;
}

.about-list-right p {
  padding-left: 30px;
}

.about-list-right a {
  color: #000;
}

.about-acc {
  margin-bottom: 50px;
}

.about-acc-arrow {
  width: 20px;
  height: 15px;
}

.about-acc-all {
  display: flex;
}

.about-acc-inner-l {
  width: 45%;
  margin-right: 30px;
  margin-left: 70px;
}

.about-acc-inner-l h2 {
  font-size: 20px;

}

.about-acc-inner-l p {
  border-bottom: solid 1px #c1292e;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 85%;
}

.about-acc-inner-r {
  width: 45%;
  margin-left: 20px;
}

.about-acc-inner-r h2 {
  font-size: 20px;

}

.about-acc-inner-r p {
  border-bottom: solid 1px #c1292e;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 85%;
}

.about-acc-map iframe {
  width: 85%;
  height: 300px;
}

@media screen and (max-width: 1024px) {
  body {
    width: 100%;
  }
  
  .about {
    height: 600px;
  }

  .about-inner {
    margin-top: 80px;
  }

  .about-acc-inner-l {
    margin-left: 35px;
  }
}

@media screen and (max-width: 768px) {
  .about-acc-map iframe {
    width: 85%;
    height: 200px;
  }
}

@media screen and (max-width: 480px) {
  .about-inner {
  display: block;
  margin-top: 60px;
}

  .about-list-left {
    width: auto;
  }

  .about-list-right {
    width: auto;
    margin-top: 20px;
  }

  .about-acc-all {
    margin-top: 150px;
  }

  .about-acc-inner-r h2 {
  font-size: 15px;
  }

  .about-acc-inner-l h2 {
    font-size: 15px;
  }

}